/*=======*/

/*=======*/

/*=======*/

/*figure out why some images work not others*/

/*=======*/

/*=======*/

/*=======*/
#main{
    font-size: 18px;
}
 @media(max-width:1250px){
   #main{
    font-size: 16px;
   }
 }
 @media(max-width:1030px){
   #main{
    font-size: 15px;
   }
 }
  @media(max-width:800px){
   #main{
    font-size: 14px;
   }
 }
@media(max-width:600px){
#main{
    font-size: 13px;
    }
}
 @media(max-width:600px){
#main{
    font-size: 12px;
   }
}
.top-pane {
	display: table;
	width: 100%;
	border-top: 0.5em solid white;
	position: relative;
	margin-top: 2.6em;
}
.top-pane header {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 19.5em;
	z-index: 3;
}
.top-pane header h2 {
	font-size: 2.5em;
	color: darkgreen;
	text-transform: capitalize;
	text-shadow: 0px 0px 5px white;
	line-height: 1em;
	padding-bottom: 0.25em;
	font-weight: normal;
}
.top-pane header h3 {
	font-size: 1.5em;
	color: darkgreen;
	text-transform: capitalize;
	text-shadow: 0px 0px 5px white;
	line-height: 1em;
	font-weight: normal;
}
.banner {
	display: table-cell;
	vertical-align: top;
	position: relative;
	opacity: 1;
	overflow: hidden;
	border-right: 0.5em solid white;
}
#luau-people {
	position: absolute;
	z-index: 1;
	width: 20em;
}
.banner::before {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-size: cover;
	background-image: url('images/home_bg1.jpg');
	background-position: bottom left;
}
.island-nav {
	width: 20em;
	display: table-cell;
	vertical-align: top;
	background-color: gold;
}
.island-nav a {
	width: 100%;
	display: table;
	padding: 1em 0.5em 0.5em 1em;
	text-align: left;
	color: #b4007a;
	transition: 0.3s;
}
.island-nav a:hover {
	background-color: yellow;
}
.island-nav a img {
	width: 100%;
	transition: 0.3s;
}
.island-nav a:hover img {
	transform: scale(1.1);
}
.island-nav a .anchor-left {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}
.island-nav a .anchor-right {
	display: table-cell;
	width: 75%;
	text-align: left;
	vertical-align: middle;
	padding-left: 0.5em;
}
.island-nav a .anchor-right .span-1 {
	width: 100%;
	font-size: 1.5em;
	text-transform: capitalize;
}
.island-nav a .span-2 {
	width: 100%;
	text-transform: capitalize;
}
@media(max-width:900px) {
	.top-pane header {
		left: auto;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media(max-width:900px) {
	.top-pane header {
		top: 20%;
		right: auto;
		transform: translateY(-20%);
		width: 60%;
		left: auto;
		right: 0;
	}
	.banner {
		display: block;
		border-right: 0;
	}
	.banner {
		display: block;
		border-right: 0;
		height: 25em;
	}
	.island-nav {
		display: block;
		width: 100%;
		text-align: center;
	}
	.island-nav a {
		width: 50%;
		display: inline-table;
		padding: 0.5em;
		margin-left: -5px;
		vertical-align: middle;
		margin-right: -5px;
	}
    .island-nav a .anchor-right .span-1 {
         font-size: 2em;
    }
    .island-nav a .span-2 {
      font-size: 1.1em;
    }
	.island-nav a .anchor-right {
		text-align: center;
	}
	.island-nav {
		width: 100%;
		border-top: 0.5em solid white;
	}
}
@media(max-width:700px) {
	.top-pane header {
		width: 50%;
		padding: 0.5em;
	}
}
@media(max-width:600px) {
	.island-nav a .anchor-left img {
		width: 100%;
	}
	.island-nav a {
		text-align: center;
	}
	.island-nav a .anchor-left {
		display: inline-block;
		vertical-align: middle;
	}
	.island-nav a .anchor-right {
		display: inline-block;
		vertical-align: middle;
	}
	.island-nav a .anchor-right {
		width: 100%;
		display: block;
	}
    .island-nav a .anchor-right {
      font-weight: bolder;
    }
}
@media(max-width:500px) {
	#luau-people {
		width: 16em;
	}
}
@media(max-width:450px) {
	.top-pane {
		margin-top: 0;
	}
	.top-pane header {
		top: 20%;
	}
	.top-pane header {
		width: 60%;
		padding: 0.5em;
	}
	.top-pane header h2 {
		font-size: 2em;
		font-weight: bold;
	}
	.banner {
		display: block;
		border-right: 0;
		height: 19em;
	}
	#luau-people {
		width: 12em;
	}
}
/*-----------------------------------*/

.mid-pane {
    width: 100%;
    background-color: white;
}
.mid-pane h3 {
	width: 100%;
	text-align: center;
	color: gold;
	background-color: #b4007a;
	font-size: 2em;
	padding: 0.5em;
	text-transform: capitalize;
	font-weight: 300;
	border-top: 0.25em solid white;
	border-bottom: 0.5em solid white;
}
.activity-nav {
	width: 100%;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
.activity-nav li {
	width: 17%;
	display: inline-block;
	margin-left: -5px;
	margin-right: -5px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}
.activity-nav li a {
	display: block;
	position: relative;
	background-color: #5ab1d5;
	height: 4.5em;
	border-radius: 3em;
	background-size: contain;
	background-position: left;
	overflow: hidden;
	transition: 0.3s;
}
.activity-img {
	position: absolute;
	opacity: 0.2;
	left: 0;
	height: 100%;
	width: 7em;
	transition: 0.3s;
	z-index: 1;
	top: 50%;
	transform: scale(1) translateY(-50%);
	background-size: cover;
	background-image: url("images/activityIcons.png");
}
#luau-icon .activity-img {
	background-position: 0 0;
}
#dinner-cruise-icon .activity-img {
	background-position: -12em 0;
}
#pearl-harbor-icon .activity-img {
	background-position: -24em 0;
}
#lei-greeting-icon .activity-img {
	background-position: -36em 0;
}
#volcano-icon .activity-img {
	background-position: -47.5em 0;
}
#helicopter-icon .activity-img {
	background-position: -59.5em 0;
}
.activity-nav li a:hover {
	background-color: gold;
}
.activity-nav li a:hover .activity-img {
	opacity: 0.5;
	transform: scale(1.1) translateY(-50%);
}
.activity-nav li a span {
	color: white;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	text-transform: capitalize;
	transition: 0.3s;
	z-index: 2;
}
.activity-nav li a:hover span {
	color: #b4007a;
}
@media(max-width:1000px) {
	.activity nav li {
		padding-left: 0.1em;
		padding-right: 0.1em;
	}
}
@media(max-width:800px) {
	.activity-nav {
		padding-left: 1em;
		padding-right: 1em;
	}
    .activity-nav li {
	width: 33.3%;
	padding-left: 0.33em;
	padding-right: 0.33em;
	padding-bottom: 0.33em;
}   
	.activity-nav li a {
		border-radius: 4em;
	}
    .activity-nav li a span {
	  width: 80%;
	  left: auto;
	  right: 0;
    }
}
@media(max-width:600px) {
    .activity-nav li {
        width: 50%;
    }
	.activity-nav li {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0.5em;
    }
}
@media(max-width:500px) {
	.activity-nav {
      width: 90%;
	  margin: 0 auto;
	  padding-left: 0;
	  padding-right: 0;
	  width: 100%;
    }
	.activity-nav li {
		width: 50%;
	}
}
@media(max-width:400px){
    .activity-nav li {
	width: 80%;
    }
}
/*------------------------------------*/
.mid-pane h4 {
	width: 100%;
	text-align: center;
	color: #00830b;
	font-size: 2em;
	padding: 0.5em;
	text-transform: capitalize;
	border-top: 0.25em solid white;
	border-bottom: 0.25em solid white;
}
.coverage-section {
    padding-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    font-size: 0.75em;
}
.coverage-section li {
	display: inline-block;
	width: 25%;
	padding: 1em;
	text-align: center;
	margin-left: -5px;
	margin-right: -5px;
}
.coverage-section li button {
	border: 0;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}
.coverage-section li button:hover{
    transform: scale(1.1);
}
.coverage-section li button img {
	margin: 0 auto;
	background-color: #b4007a;
	height: 4em;
	width: 4em;
	border-radius: 8em;
}
.coverage-section li button span {
	text-transform: capitalize;
	font-size: 2em;
	display: block;
	line-height: 1em;
	padding: 0.5em;
	color: dimgray;
}
.coverage-img {
	position: relative;
	background-color: #b4007a;
	margin: 0 auto;
	height: 6em;
	width: 6em;
	border-radius: 5em;
	background-size: 400%;
	background-repeat: no-repeat;
	background-image: url("images/coverage_icons.png");
}
#coverage-first .coverage-img {
	background-position: 0 0;
}
#coverage-second .coverage-img {
	background-position: 33.3% 0;
}
#coverage-third .coverage-img {
	background-position: 66.6% 0;
}
#coverage-fourth .coverage-img {
	background-position: 100% 0;
}
     .c-dialoge-wrapper{
               position: fixed;
               z-index: 998;
               left: 50%;
               top: 50%;
               transform:translate(-50%,-50%);
               width:0;
               height:0;
               opacity:0;
               overflow: hidden;
               background-color: rgba(0,0,0,0.3);
               transition:0.3s;
            }
            .c-dialoge-wrapper.active{
                opacity: 1;
                width:100%;
                height:100%;
            }
            .coverage-dialogue {
	            width: 90%;
	            position: fixed;
	            z-index: 999;
	            left: 50%;
	            top: 50%;
	            transform: translate(-50%,-50%) scale(0);
	            background-color: white;
	            padding: 2em;
	            border-radius: 1em;
	            max-width: 900px;
              transition: 0.4s;
            }
            .c-dialoge-wrapper.active .coverage-dialogue{
                transform: translate(-50%,-50%) scale(1);
            }
            .coverage-dialogue header {
	            width: 100%;
	            font-size: 1.5em;
	            padding-bottom: 0.5em;
	            text-transform: capitalize;
	            color: darkgreen;
	            text-align: center;
            }
            .coverage-dialogue article p {
	            font-size: 1em;
	            line-height: 1.5em;
	            text-align: justify;
            }
@media(max-width:600px) {
	.coverage-section li {
		width: 50%;
	}
}
/*====================================*/

.checkpoint {
	width: 100%;
	position: relative;
	background-image: url('images/home_bg2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.article-wrapper {
	width: 1200px;
	margin: 0 auto;
	height: 40em;
	position: relative;
	overflow: hidden;
}
.article-wrapper::before {
	content: "";
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: -1;
	display: none;
	background-size: cover;
	background-position: center;
}
.checkpoint.active .article-wrapper::before {
	display: block;
}
@media(max-width:1250px) {
	.checkpoint {
		background-image: none;
		background-attachment: local;
	}
	.article-wrapper {
		width: 100%;
	}
	.article-wrapper::before {
		background-image: url("images/home_bg2.jpg");
	}
}
.article-main {
	position: absolute;
	top: 50%;
	left: 2em;
	transform: translateY(-50%);
	width: 50%;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3em;
}
.article-main article {
	width: 100%;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
}
.article-main article section {
	transition: 0.3s;
	transform: translate("0,0");
}
.article-bloc {
	line-height: 1.75em;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	padding: 1em;
}
.article-main button {
	background-color: #b4007a;
	color: white;
	font-size: 1.2em;
	text-transform: capitalize;
	padding: 0.25em;
	border: 0;
	cursor: pointer;
}
.article-main h2 {
	font-size: 2em;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 0.9;
	width: 60%;
}
.article-main h3 {
	font-size: 1.25em;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}
#playerWrapper {
    position: absolute;
    right: 2em;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}
#player {
    width: 95%;
    height: 16em;
    min-width: 10em;
    margin: 0 auto;
    display: block;
    max-width: 25em;
}
@media(max-width:1000px) {
    .article-wrapper {
	  height: auto;
	  padding-bottom: 2em;
    }
	.article-wrapper {
	  height: auto;
	}
	.article-main {
	 width: 90%;
	 padding: 2em;
	 left: auto;
	 transform: translate(0%,0%);
	 position: relative;
	 top: auto;
	 margin: 2em auto;
   }
    #playerWrapper {
     position: relative;
     right: auto;
     top: auto;
     width: 100%;
     text-align: center;
     transform: translateY(0%);
     margin: 0 auto;
    }
}